* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg-img {
    background-image: url(../img/bg.jpg);

}


.pitchBlack {
    background-color: black;
}

nav {
    font-family: 'Raleway', sans-serif;
}

.brand-text {
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    padding-left: 10px;
}

.btntext {
    font-family: 'Roboto', sans-serif;
    color: blanchedalmond;
}

h1 {
    font-family: 'Oswald', sans-serif;
    color: whitesmoke;
}

h2 {
    font-family: 'Roboto', sans-serif;
}

h3 {
    display: flexbox;
    font-family: 'Anton', sans-serif;
    font-size: 50px;
    align-content: center;
}

p {
    font-family: 'Teko', sans-serif;
    font-size: 30px;
}

footer {
    left: 0;
    bottom: 0%;

}

.masthead {
    height: 100vh;
    min-height: 600px;
}

.title {
    font-family: 'Teko', sans-serif;
    font-size: 50px;
    color: #17202A;
}

textarea {
    height: 20vh;
    width: 100%;
    border-radius: 5px;
    padding: 10px;
}

.icon {
    width: 70px;
    height: 70px;
    margin: auto;
    padding: auto;
}

.icon-lg {
    width: 100px;
    height: 100px;
    margin: auto;
    padding: auto;
}

.footer-txt {
    font-family: 'Oswald', sans-serif;
    font-size: 17px;
    color: white;
}

.social {
    height: 50px;
    width: 50px;
}

.avatar {
    vertical-align: middle;
    width: 780px;
    height: 492px;
}

hr {
    border: 2px solid black;
    border-radius: 5px;
}

.para-norm {
    font-size: 27px;
}

.small {
    font-size: 20px;
}

.footer-icon {
    width: 50px;
    height: 50px;
}